* {
	margin:0;
	padding:0;
}

body {
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

.wrapper {
	width: 960px;
	margin: 0px auto;
}

.left {
	background-color: #000;
	width:580px;
	float:left;
	height: 100px;
	padding: 0px 10px;
}

.nav {
	display: inline;
	width: 330px;
	background-color: #000;
	padding: 15px;
	float:right;
	height: 45px;
	text-align: center;
	padding-top: 40px;
}

.nav a {
	padding: 15px;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	background-color: #000;
	padding-top: 20px;
}

nav a:hover {
	color:  #E66993;
}

.spacer {
	height: 5px;
	clear:both;
}

p img {
	display: block;
	margin: 0 auto;
}

.spacer1 {
	height: 5px;
	clear:both;
}

.photo1 {
	float: left;
}

.content1 {
	float: left;
}

.photo1 img {
	width: 60%;
	display: block;
	margin: 0 auto;
}
.photo2 img {
	width: 60%;
	display: block;
	margin: 0 auto;
}
.photo3 img {
	width: 60%;
	display: block;
	margin: 0 auto;
}

.spacer1 {
	height: 5px;
	clear:both;
}

.content1 {
	width: 960px;
}
.photo1 {
	width: 280px;
	float: left;
	padding: 20px;
}

.blog1 {
	width: 600px;
	float: right;
	padding: 20px;
}

h4:hover {
color:  #E66993;
}

.content2 {
	clear:both;
	width: 960px;
}
.photo2 {
	width: 280px;
	float: left;
	padding: 20px;
}

.blog2 {
	width: 600px;
	float: right;
	padding: 20px;
}
.content3 {
	clear: both;
	width: 960px;
}
.photo3 {
	width: 280px;
	float: left;
	padding: 20px;
}

.blog3 {
	width: 600px;
	float: right;
	padding: 20px;
}


.about {
	padding: 15px;
}

.get {
	padding: 15px;
}

.social {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
}

footer {
	clear:both;
	background-color: #000;
	text-align: center;
	color: #fff;
	height: 35px;
	padding-top: 15px;
}





